body{
	/* font-family: 'Quicksand', sans-serif; */
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: url(../images/graphPaper.png);
}

/*Background colors*/
.bg-white{
	background: #fff;
}
.bg-grey{
	background: grey;
}

.navbar {
   background:  rgba(113, 173, 241, 0.986) !important;
}

.navbar-nav {
	color: white;
}

.text-header{
	color:  #fff !important;
	/*background: #4aaaa5 !important; */
	background: #1524aecf;
	/* font-family: 'Work Sans', sans-serif; */
	font-size: 26px;
}
.text-teal{
	color:  #1524aecf;
	/* font-family: 'Work Sans', sans-serif; */
}
.text-white{
	color: white;
	/* font-family: 'Work Sans', sans-serif; */
}
a {
	color: #333 !important;
	font-size: 120%;
} 
/*end of text colors*/

h4 {
	border: none;
}
/*Padding Options*/
.down-padding{
	padding-bottom: 30px;
}
.top-bottom-padding{
	padding: 15px 0px;
	margin-top: 5px;
}
.panel-padding{
	padding: 0px 20px 15px 20px;
}
/*end of Padding options*/

/*Connect with me aside related*/
.icon{
	width: 45px;
	height: 45px;
}
/*end of connect with me*/
#cf {
	position:relative;
	height:281px;
	width:450px;
	margin:0 auto;
  }
  
  #cf img {
	position:absolute;
	left:0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
  }
  
  #cf img.top:hover {
	opacity:0;
  }
.photo{
	width: 300px;
	height: 300px;
}
/*Portfolio section related*/
.port{
	width: 250px;
	height: 200px;
	margin: 10px;
	display: inline-block;
	border: solid 2px #333;
}

.img9{
	background: url(../images/picDMCimage.png);
}
.img1{
	background: url(../images/psychicgame.png);
}
.img2{
	background: url(../images/bikecollector.png);
}
.img3{
	background: url(../images/budgettracker.png);
}
.img4{
	background: url(../images/techtriviamob.png);
}
.img5{
	background: url(../images/gifazoidmob.png);
}
.img6{
	background: url(../images/node1liri.png);
}
.img7{
	background: url(../images/nodemysqlbam.png);
}
.img8{
	background: url(../images/mvcburger.png);
}
.btn-teal{
	width: 248px;
	margin-top: 150px;
	background: #1524aecf; 
    border: 1px solid  #1524aecf; 
	color: #fff !important;
}
/*end of Portfolio section*/

/*Navbar related*/
.navbar-brand:hover{
	color: #fff !important;
	background:  rgba(113, 173, 241, 0.986) !important; 
}
/*end of navbar*/

/*Footer related*/
.teal-border{
	border-top: 3px solid   #1524aecf;
	border-bottom: 3px solid   #1524aecf;
	width: 200px;
	margin-top: 10px;
    margin-right: auto;
    margin-bottom: auto;
	margin-left: auto;
	background: url(../images/graphPaper.png);
}
/*end of footer*/

/*font sizes*/
.font-size-regular{
	font-size: 16px; 
}
/*end of font sizes*/

/*Contact section related*/
.full-width{
	width: 100%;
}
.submit-btn{
	background:  #1524aecf;;
	width: 100px;
	color: #fff;
}

 .panel-footer{
    height:135px; 
	background-color: rgba(113, 173, 241, 0.986) !important; 
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

#contactSubhead {
	 color: black;
}

